@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    text-align: center;
    overflow-x: hidden;
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); 
    font-family: "Signika Negative", sans-serif;
}

.palindrome{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px 20px 20px;
}

.palindrome_heading{
    width: 50%;
    margin-top: 50px;
    padding-top: 100px;
}

.palindrome_heading h1{
    font-size: 28px;
}

.palindrome_def{
    margin-top: 10px;
    padding-top: 20px 25px 0;
    text-align: center;
    font-size: 18px;
}

#palindrome_img{
    margin: 20px;
    padding: 10px;
}

#palindrome_bday_check{
    margin: 20px;
}

#birthdate{
    margin: 10px;
    padding: 10px 0 10px 5px;
    border-radius: 12px;
}

.form_heading{
    margin: 15px;
}

.form_heading h2{
    font-size: 25px;
}

#submit_btn{
    padding: 8px 15px;
    border-radius: 10px;
    margin: 15px;
    background-color: #0E7490;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

#output{
    width: 50%;
    display: block;
    margin: auto;
    padding: 15px;
    font-size: 20px;
}


.footer{
    width: 100%;
    background-color: #D1D5DB;
}

.footer_list{
    list-style-type: none;
}

.footer_list li{
    display: inline-block;
    padding: 10px;
    margin: 10px 10px 0 10px;
}

.footer_img{
    width: 25px;
}


@media screen and (min-width:360px) {

    .palindrome{
        flex-wrap: wrap;
        height: 650px;
        padding: 0;
        margin: 0;
    }

    .palindrome_heading{
        width: 100%;
        margin-top: 15px;
        padding-top: 20px;
    }

    .palindrome_def{
        margin-top: 20px;
        padding: 20px 20px 0 20px;
    }

    #palindrome_img{
        width: 100%;
        padding: 0;
        margin: 0;
        height: 400px;
    }

    .form_heading h2{
        font-size: 20px;
    }

    .form_heading{
        padding-top: 30px;
    }

    #output{
        width: 80%;
    }
}


@media screen and (min-width:768px) {

    .palindrome{
        justify-content: space-between;
        height: 450px;
    }

    .palindrome_heading{
        width: 40%;
        padding-top: 30px;
        margin-top: 20px;
    }

    #palindrome_img{
        width: 50%;
        height: 400px;
    }
}

@media screen and (min-width: 1020px) {
    .palindrome_heading{
        padding-top: 80px;
        margin-top: 30px;
    }
}